.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;  /* Adjust padding to give more room on the sides */
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    width: 100%; /* Ensure the footer takes the full width */
}

.footer-logo img {
    width: 100px;
}

.footer-links {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Change to space-between for better distribution */
    align-items: center;
}

.footer-column {
    flex: 1;  /* Give each column equal opportunity to use the available space */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px; /* Add padding to each column if needed */
}

.footer-column h4 {
    margin-bottom: 10px; /* gives a little space between the header and the list */
}

.footer-column ul {
    list-style-type: none; /* removes bullet points */
    padding: 0;
    margin: 0;
}

.footer-column li a {
    text-decoration: none;
    color: #333;
    line-height: 1.5;
    display: inline-block; /* Ensure each link and text follow one another */
    align-items: center;
}

.footer-column li a:hover {
    color: #007bff; /* Optional hover effect */
}

.footer-column li a img {
    margin-right: 5px; /* space between icon and text */
}